# List

In [1]:
list1 = [1,2, [3, 4]]

In [2]:
list1

[1, 2, [3, 4]]

In [5]:
list2 = ['a', 'b', 'c', 'd', 'e']

In [6]:
list2

['a', 'b', 'c', 'd', 'e']

In [7]:
list3 = [1, 2, 3, 4, ['a', 'b', 'c', 'd', 'e', ['Harry', 'Joe', 'Selena']]]

In [8]:
list3

[1, 2, 3, 4, ['a', 'b', 'c', 'd', 'e', ['Harry', 'Joe', 'Selena']]]

In [9]:
list1[1]

2

In [10]:
list3[4]

['a', 'b', 'c', 'd', 'e', ['Harry', 'Joe', 'Selena']]

In [13]:
list3[4][1]

'b'

In [15]:
list3[4][5]

['Harry', 'Joe', 'Selena']

In [16]:
list3[4][5][0]

'Harry'

In [17]:
list3[4][5][1]

'Joe'

In [18]:
list3[3:] #slicing

[4, ['a', 'b', 'c', 'd', 'e', ['Harry', 'Joe', 'Selena']]]

In [19]:
list3[4:]

[['a', 'b', 'c', 'd', 'e', ['Harry', 'Joe', 'Selena']]]

In [20]:
list3[4][5:]

[['Harry', 'Joe', 'Selena']]

In [27]:
my_list = ['a', 'b', 'c', 'd']

In [28]:
my_list.append('e')

In [29]:
my_list

['a', 'b', 'c', 'd', 'e']

In [30]:
my_list[0] = 'Sneha'

In [31]:
my_list

['Sneha', 'b', 'c', 'd', 'e']

In [32]:
my_list.insert(1, 'Aman')

In [33]:
my_list

['Sneha', 'Aman', 'b', 'c', 'd', 'e']

In [34]:
my_list.remove('b')

In [35]:
my_list

['Sneha', 'Aman', 'c', 'd', 'e']

In [38]:
my_list.pop()

'e'

In [39]:
my_list

['Sneha', 'Aman', 'c', 'd']

In [40]:
my_list.pop()

'd'

In [41]:
my_list

['Sneha', 'Aman', 'c']

In [53]:
cars = ['Ford', 'BMW', 'Volvo'] #sorting

In [47]:
cars.sort()

In [48]:
cars

['BMW', 'Ford', 'Volvo']

# Tuples

In [49]:
t = (1, 2, 3, 4, 5)

In [50]:
t[0]

1

In [51]:
t[3]

4

In [ ]:
# t[1] = 22 #immutable

In [1]:
tup1 = (1, 2, 3, 4.5, "abc", "def", "efg")
print(tup1)

(1, 2, 3, 4.5, 'abc', 'def', 'efg')

In [2]:
print(tup1[0])

1

In [4]:
print(tup1[5])

def

In [5]:
print(tup1[0:])

(1, 2, 3, 4.5, 'abc', 'def', 'efg')

In [6]:
print(tup1[0::2])

(1, 3, 'abc', 'efg')

In [7]:
print(tup1[0::3])

(1, 4.5, 'efg')

In [ ]:
for e in tup1:

# Dictionary

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [4]:
x = thisdict["model"] #accessing items of the dictionary
print(x)

Mustang

In [9]:
x = thisdict.get("model") #another way to access items of the dictionary
print(x)

Mustang

In [10]:
y = thisdict.get("year")
print(y)

1964

In [11]:
for x in thisdict:  #loop through a dictionary
    print(thisdict[x])

Ford
Mustang
1964

In [12]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [13]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in dict1 dictionary")

Yes, 'model' is one of the keys in dict1 dictionary

In [20]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
if "month" in thisdict:
    print("Yes, 'month' is one of the keys in dict1 dictionary")
else:
    print("not the key")

not the key

In [21]:
print(len(thisdict))

3

In [22]:
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}