In [1]:
5

5

In [3]:
x = 3
print (x)

3

In [4]:
x = 89
x

89

In [5]:
w = '21'
w

'21'

In [6]:
q = 4.3
q

4.3

In [7]:
a = "Ram"
a

'Ram'

In [ ]:
#Operators

In [8]:
x = 10
y = 2
z = x + y
z

12

In [9]:
q = 12
w = 12
z = q - w
z

0

In [10]:
x = 9
y = 3
z = x // y
z

3

In [11]:
x = 3
y = 7
z = 3 ** 7
z

2187

In [12]:
x = 2
x = x + 1
x

3

In [13]:
x = 2
x += 1
x

3

In [15]:
x = 3
y = 3
x *= y
x

9

In [16]:
x = 3
y = 4
x *= y
x

12

In [17]:
x = 2
y = 3
x >= y
x

2

In [19]:
x = 3
y = 4
y == x
y

4

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
False and True

False

In [23]:
False and False

False

In [24]:
True or True

True

In [25]:
True or False

True

In [26]:
False or True

True

In [27]:
False or False

False

In [28]:
x = '5'
type(x)

str

In [29]:
x = 4.4
type (x)

float

In [30]:
x = 'Rajesh'
type(x)

str

In [31]:
y = 22
type(y)

int

In [48]:
print ("Hello", end = ' ')
print("hi")

Hello hi

In [ ]:
#loops

In [32]:
x = 10
if(x == 10):
    print('x is 10')
else:
    print('x is not 10')
    
print('x is a multiple of 5')

x is 10
x is a multiple of 5

In [33]:
x = 20
if (x == 10):
    print('x is 10')
elif (x == 7):
    print('x is not 10')
else:
    print('x is 20')

x is 20

In [34]:
n = 0
while(n <= 20):
    print(n)
    n = n + 2

0
2
4
6
8
10
12
14
16
18
20

In [35]:
n = 0
while(n <= 10):
    print(n)
    n = n + 1

0
1
2
3
4
5
6
7
8
9
10

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [42]:
for i in range (1,5):
    print(i)

1
2
3
4

In [44]:
for i in range (2, 10, 2):
    print(i)

2
4
6
8

In [45]:
for i in range (10):
    print(i)
    i += 2

0
1
2
3
4
5
6
7
8
9

In [46]:
x = "Hello"
for e in x:
    print(e)

H
e
l
l
o

In [47]:
x = "hello"
y = x[0]
y

'h'